* {
  margin: 0;
  padding: 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
  height: 9vh;
}

.nav-button {
  position: relative;
  text-align: center;
  width: 101px;
  padding: 10px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #444c58;
  font-weight: 600;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 100px;
}

.rightNav {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.rightNav li {
  list-style: none;
  padding: 26px 30px;
}

.rightNav li a {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.rightNav li a:hover {
  color: green;
}

.nav-list {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.background {
  background: rgba(255, 255, 255, 0) url("../img/Bitmap.png");
  background-size: cover;
  background-blend-mode: darken;
}

.firstSection {
  height: 100vh;
}

.box-main-sec-one {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  max-width: 70%;
  margin: auto;
  height: 80%;
}

.firstHalf-sec-one {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondHalf-sec-one {
  width: 70%;
}

.text-big-sec-one {
  font-family: "Poppins", sans-serif;
  font-size: 90px;
  font-weight: 700;
}

.box-main-sec-two {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  max-width: 80%;
  margin: auto;
  height: 60%;
}

.firstHalf-sec-two {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondHalf-sec-two {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.text-big-sec-two {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  text-align: right;
  font-weight: 700;
}

.text-color-sec-two {
  color: #6174b9;
}

.secondSection {
  height: 100vh;
}

.timeline {
  background: var(--primary-color);
  margin: 20px auto;
  padding: 20px;
}

/* Outer Layer with the timeline border */
.outer {
  border-left: 2px solid #4c5aa1;
}

/* Card container */
.card {
  position: relative;
  margin: 0 0 20px 20px;
  padding: 10px;
  color: gray;
  border-radius: 8px;
  max-width: 400px;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Title of the card */
.title {
  color: #6174b9;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #4c5aa1;
  border-radius: 999px;
  left: -36px;
}

.box-sub-sec-two-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 30%;
  margin: auto;
}

.text-big-sub-sec-two-one {
  font-size: 48px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.text-color-sub-sec-two-one {
  color: #444c58;
}

.text-small-sub-sec-two-one {
  font-size: 18px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.box-sub-sec-two-two {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 90%;
  margin: auto;
  height: 40%;
}

.firstHalf-sub-sec-two-two {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondHalf-sub-sec-two-two {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thirdHalf-sub-sec-two-two {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-big-sub-sec-two-two {
  font-size: 28px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.text-small-sub-sec-two-two {
  font-size: 18px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.div-sub-sec-two-two {
  width: 10%;
  display: flex;
  justify-content: center;
}

.divider-sub-sec-two-two {
  height: 200px;
  width: 2px;
  background-color: #d3d3d3;
  display: inline-block;
}

.thirdSection {
  height: 100vh;
}

.box-main-sec-three {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  max-width: 60%;
  margin: auto;
  height: 80%;
}

.firstHalf-sec-three {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondHalf-sec-three {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-big-sec-three {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #6174b9;
}
.text-small-sec-three {
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  font-weight: 300;
  color: #444c58;
}

.button-sec-three {
  position: relative;
  text-align: center;
  width: 192px;
  height: 30px;
  padding: 10px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 600;
  background-color: #6174b9;
  cursor: pointer;
  border-radius: 100px;
  margin-top: 4%;
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  font-weight: 400;
}

.photoCard1 {
  width: 200px;
  height: 270px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  background-position: center;
  background-size: cover;
}
.photoCard2 {
  width: 200px;
  height: 230px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  background-position: center;
  background-size: cover;
}
.photoCard3 {
  width: 200px;
  height: 220px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  background-position: center;
  background-size: cover;
}
.photoCard4 {
  width: 200px;
  height: 180px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  background-position: center;
  background-size: cover;
}
.photoCardImage1 {
  background-image: url(../img/Rocking.png);
}
.photoCardImage2 {
  background-image: url(../img/Sports.png);
}
.photoCardImage3 {
  background-image: url(../img/Sad.png);
}
.photoCardImage4 {
  background-image: url(../img/Exercise.png);
}

.photoRow {
  display: flex;
  height: 88%;
  align-items: center;
  width: 55%;
}

.photoColumn {
  margin-left: 1%;
}

.fourthSection {
  height: 100vh;
  background-image: url(../img/emuse.png);
  background-position: center;
  background-size: cover;
}

.fifthSection {
  height: 200vh;
}

.box-sub-sec-five-one {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 80%;
  margin: auto;
}

.paras-sub-sec-five-one {
  padding: 0px 65px;
}

.text-big-sub-sec-five-one {
  font-size: 36px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.text-small-sub-sec-five-one {
  font-size: 16px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
}

footer {
  height: 458px;
  width: 100%;
  background-color: #a2abba;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}

.firstHalf-footer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondHalf-footer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-image {
  height: 480px;
  width: 480px;
  margin-left: 140px;
  margin-top: -25%;
}

.box-main-sub-footer {
  display: flex;
  justify-content: flex-start;
  color: white;
  margin: auto;
  width: 40%;
}

.secondHalf-footer-big-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-left: 30%;
  margin-top: -10%;
}

.firstHalf-sub-footer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondHalf-sub-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.text-big-sub-footer {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 700;
}

.text-small-sub-footer {
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-top: 5%;
}

.text-color-sub-footer {
  color: #ffffff;
}
.box {
  width: 100%;
  height: 100%;
  background-color: rgba(66, 65, 65, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginForm {
  width: 400px;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  border-radius: 10px;
  overflow: hidden;
}

.loginForm div {
  width: 100%;
}

.body {
  padding: 30px;
}

.title {
  padding: 10px 0px 30px 0px;
}

.title h3 {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 26px;
  color: #404040;
}

.inputs {
  display: flex;
  flex-flow: column nowrap;
}
.input {
  position: relative;
  margin-bottom: 20px;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
}

.input input {
  width: 60%;
  height: 100%;
  outline: none;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 0px 15px 0px 40px;
  font-size: 17px;
  color: #404040;
}

.input input:focus {
  border-color: #0c8;
  box-shadow: 0px 0px 0px 3px;
}

.loginBtn {
  width: 100%;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-image: linear-gradient(130deg, #090, #0c0);
  box-shadow: 0px 4px 0px #090;
  font-size: 20px;
  color: #fff;
  transition: transform 0.15s ease;
}

.loginBtn:focus {
  transform: translateY(-5%);
}

.footer {
  padding: 20px 30px;
  background-color: #e6e6e6;
  border-top: 1px solid #bfbfbf;
  display: flex;
  flex-grow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
