* {
  margin: 0;
  padding: 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
  height: 9vh;
}

.nav-button {
  position: relative;
  text-align: center;
  width: 101px;
  padding: 10px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #444c58;
  font-weight: 600;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 100px;
  border-color: #525355;
}

.rightNav {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.rightNav li {
  list-style: none;
  padding: 26px 30px;
}

.rightNav li a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.rightNav li a:hover {
  color: #6174b9;
}

.nav-list {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.background {
  background: rgba(255, 255, 255, 0) url("../img/Bitmap.png");
  background-size: cover;
  background-blend-mode: darken;
}

.firstSection {
  height: 100vh;
}

.firstSection .box-main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  max-width: 70%;
  margin: auto;
  height: 80%;
}

.firstSection .box-main .firstHalf {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.firstSection .box-main .firstHalf .text-big {
  font-family: "Poppins", sans-serif;
  font-size: 90px;
  font-weight: 700;
}

.secondSection {
  height: 100vh;
}

.secondSection .box-main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  max-width: 80%;
  margin: auto;
  height: 60%;
}

.secondSection .box-main .firstHalf {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondSection .box-main .secondHalf {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.secondSection .box-main .firstHalf .text-big {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  text-align: right;
  font-weight: 700;
}

.secondSection .box-main .firstHalf .text-color {
  color: #6174b9;
}

.secondSection .box-main .secondHalf .timeline {
  background: var(--primary-color);
  margin: 20px auto;
  padding: 20px;
}

/* Outer Layer with the timeline border */
.secondSection .box-main .secondHalf .outer {
  border-left: 2px solid #4c5aa1;
}

/* Card container */
.secondSection .box-main .secondHalf .card {
  position: relative;
  margin: 0 0 20px 20px;
  padding: 10px;
  color: gray;
  border-radius: 8px;
  max-width: 400px;
}

/* Information about the timeline */
.secondSection .box-main .secondHalf .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Title of the card */
.secondSection .box-main .secondHalf .title {
  color: #6174b9;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

/* Timeline dot  */
.secondSection .box-main .secondHalf .title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #4c5aa1;
  border-radius: 999px;
  left: -36px;
}

.box-sub-common-global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  max-width: 30%;
  margin: auto;
}

.text-big-common-global {
  font-size: 48px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.text-color-common-global {
  color: #444c58;
}

.text-small-common-global {
  font-size: 18px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  margin-top: 4%;
}

.secondSection .box-sub-two {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  max-width: 90%;
  margin: auto;
  height: 40%;
}

.secondSection .box-sub-two .firstHalf {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondSection .box-sub-two .secondHalf {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondSection .box-sub-two .thirdHalf {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-big-sub-two-common {
  font-size: 28px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.text-small-sub-two-common {
  font-size: 18px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  margin-top: 4%;
}

.divc-sub-two-common {
  width: 10%;
  display: flex;
  justify-content: center;
}

.divider-sub-two-common {
  height: 200px;
  width: 2px;
  background-color: #d3d3d3;
  display: inline-block;
}

.text-color-sub-two-common {
  color: #444c58;
}

.thirdSection {
  height: 100vh;
}

.thirdSection .box-main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  max-width: 60%;
  margin: auto;
  height: 80%;
}

.thirdSection .box-main .firstHalf {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thirdSection .box-main .secondHalf {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.thirdSection .box-main .secondHalf .text-big {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #6174b9;
}
.thirdSection .box-main .secondHalf .text-small {
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  font-weight: 300;
  color: #444c58;
}

.thirdSection .box-main .secondHalf .button {
  position: relative;
  text-align: center;
  width: 192px;
  height: 30px;
  padding: 10px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 600;
  background-color: #6174b9;
  cursor: pointer;
  border-radius: 100px;
  margin-top: 4%;
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  font-weight: 400;
}

.photoCard1 {
  width: 200px;
  height: 270px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  background-position: center;
  background-size: cover;
}
.photoCard2 {
  width: 200px;
  height: 230px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  background-position: center;
  background-size: cover;
}
.photoCard3 {
  width: 200px;
  height: 220px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  background-position: center;
  background-size: cover;
}
.photoCard4 {
  width: 200px;
  height: 180px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  background-position: center;
  background-size: cover;
}
.photoCardImage1 {
  background-image: url(../img/Rocking.png);
}
.photoCardImage2 {
  background-image: url(../img/Sports.png);
}
.photoCardImage3 {
  background-image: url(../img/Sad.png);
}
.photoCardImage4 {
  background-image: url(../img/Exercise.png);
}

.photoRow {
  display: flex;
  height: 88%;
  align-items: center;
  width: 55%;
}

.photoColumn {
  margin-left: 1%;
}

.fourthSection {
  height: 100vh;
  background-image: url(../img/emuse.png);
  background-position: center;
  background-size: cover;
}

.fifthSection {
  height: 200vh;
}

.box-sub-five-common {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 80%;
  margin: auto;
}

.paras-sub-five-common {
  padding: 0px 65px;
}

.text-big-sub-five-common {
  font-size: 36px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.text-small-sub-five-common {
  font-size: 16px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  margin-top: 5%;
}

footer {
  height: 458px;
  width: 100%;
  background-color: #a2abba;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}

.firstHalf-footer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondHalf-footer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-image {
  height: 480px;
  width: 480px;
  margin-left: 140px;
  margin-top: -25%;
}

.secondHalf-footer .box-main {
  display: flex;
  justify-content: flex-start;
  color: #ffffff;
  margin: auto;
  width: 40%;
}

.secondHalf-footer .big-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-left: 30%;
  margin-top: -10%;
}

.secondHalf-footer .box-main .firstHalf {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondHalf-footer .box-main .secondHalf {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.secondHalf-footer .big-text .text-big {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 700;
}

.text-small-footer-common {
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-top: 5%;
}

.text-color-footer-common {
  color: #ffffff;
}
.signup-box {
  width: 100%;
  height: 100%;
  background-color: rgba(66, 65, 65, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-box .form {
  width: 577px;
  height: 640px;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 20px;
}

.signup-box .form .body {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: 14%;
}

.signup-box .form .body .title {
  display: flex;
  flex-direction: row;
}
.signup-box .form .body .title h3 {
  width: 100%;
  text-align: start;
  font-weight: 700;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

.signup-box .form .body .title .close {
  font-weight: 700;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

.signup-box .form .body label {
  display: flex;
  margin-top: 20px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.signup-box .form .body .input {
  width: 412px;
  padding: 7px;
  border: none;
  background-color: #d8d8d8;
  outline: none;
  height: 40px;
  font-size: 12px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.signup-button {
  width: 426px;
  height: 50px;
  margin-top: 20px;
  border: none;
  background-color: #6174b9;
  color: #ffffff;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.signup-box .form .body .warning {
  width: 412px;
  font-size: 12px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  margin-top: 2%;
}
